* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__headerImage {
  height: 50px;
}

.app__header {
  background-color: #fff;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}